### 6.Dane tekstowe i API
- Proste operacje tekstowe
- Łączenie z API i pobieranie danych
- Pozyskiwanie ze stron (requests)
- Parsowanie stron internetowych (BeautifulSoup)
- Przetwarzanie i zapisywanie

#### Proste operacje tekstowe

In [1]:
text = 'Python'

In [2]:
print(dir(text))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
napis = 'python'
napis

'python'

In [4]:
napis.title()

'Python'

In [5]:
text

'Python'

In [7]:
text.lower()
# Tomek
# TOMEK
# tomek

'python'

In [8]:
text.upper()

'PYTHON'

In [9]:
text = 'Python '

In [10]:
text.strip() # usunięcie białych znaków

'Python'

In [11]:
napis = '1,3'

In [12]:
napis.replace(',','.')

'1.3'

In [13]:
napis = 'python'

In [15]:
len(napis) == 6

True

In [16]:
napis = 'python'

In [17]:
napis.count('p')

1

In [18]:
numer = '123,345,45'

In [20]:
numer.split(',')

['123', '345', '45']

In [21]:
telefon = '999-999-999'

In [22]:
telefon.replace('-', '')

'999999999'

In [31]:
telefon = '999-999-999'
telefon = telefon.split('-')
telefon

['999', '999', '999']

In [25]:
telefon = '999-999-999'
telefon = telefon.split('-')
'-'.join(telefon)

'999-999-999'

In [27]:
words = ['sport', 'python', 'free', 'time']
joined_words = '#'.join(words)
joined_words

'sport#python#free#time'

##### Przykład

In [32]:
'0123456789'
wynik = '01-23-45-67-89'

In [37]:
s = "0123456789"

In [38]:
s[0:2]

'01'

In [42]:
l = []

for i in range(0,len(s), 2):
    l.append(s[i:i+2])
'-'.join(l)

'01-23-45-67-89'

In [43]:
s = "0123456789"
result = '-'.join([s[i:i+2] for i in range(0, len(s), 2)])
result

'01-23-45-67-89'

In [48]:
napis = 'prog.py'
napis.upper().split('.')

['PROG', 'PY']

#### o cięciu łańcuchów tekstowych słów kilka

In [49]:
lancuch="123456789"

In [50]:
lancuch[2]

'3'

In [51]:
lancuch[-2]

'8'

In [52]:
lancuch[2:5]

'345'

In [53]:
lancuch[0:6:2]

'135'

In [54]:
import pandas as pd

In [55]:
s = pd.Series([3, 1, 2.71, -10], index=['a', 'a', 'c', 'd'])
s

a     3.00
a     1.00
c     2.71
d   -10.00
dtype: float64

In [56]:
s.apply(lambda x: str(x).replace('.', ','))

a      3,0
a      1,0
c     2,71
d    -10,0
dtype: object

### Łączenie z API i pobieranie danych

Łączenie się z API (Application Programming Interface) i pobieranie danych to element analizy danych, który pozwala na dostęp do dynamicznych i często aktualizowanych źródeł informacji. API umożliwiają programistom komunikację z różnymi usługami internetowymi, takimi jak serwisy pogodowe, platformy społecznościowe czy bazy danych finansowych.

#### Podstawy łączenia się z API

API zazwyczaj działają na zasadzie wysyłania żądań HTTP i otrzymywania odpowiedzi, zazwyczaj w formacie JSON lub XML. W Pythonie najpopularniejszą biblioteką do wysyłania żądań HTTP jest `requests`.



### Podsumowanie

Łączenie się z API i pobieranie danych jest fundamentalnym aspektem analizy danych, pozwalającym na dostęp do dynamicznych i aktualizowanych źródeł informacji. Korzystanie z biblioteki `requests` w Pythonie umożliwia łatwe wysyłanie zapytań HTTP GET i POST, zarówno do publicznych API, jak i tych wymagających autoryzacji. Dzięki temu można pobierać, przetwarzać i analizować dane z różnorodnych źródeł, co jest kluczowe dla nowoczesnych aplikacji analitycznych i naukowych.

### https://api.nbp.pl/

In [57]:
import pandas as pd

In [58]:
a = pd.read_json('http://api.nbp.pl/api/exchangerates/rates/a/USD/')
a

,table,currency,code,rates
0,A,dolar amerykański,USD,"{'no': '058/A/NBP/2025', 'effectiveDate': '202..."

In [65]:
aktualna_cena_dolara = a['rates'].values[0]['mid']
aktualna_cena_dolara

3.8578

In [66]:
pd.read_json('http://api.nbp.pl/api/cenyzlota/')

         data    cena
0  2025-03-26  375.21

In [67]:
cena_złota_dzis = pd.read_json('http://api.nbp.pl/api/cenyzlota/')
cena_złota_dzis.cena

0    375.21
Name: cena, dtype: float64

'2025-03-25'

In [73]:
waluta = 'USD'
start = '2025-01-01'
end = (pd.Timestamp.today() - pd.Timedelta(days=1)).strftime('%Y-%m-%d')

In [74]:
query = 'http://api.nbp.pl/api/exchangerates/rates/a/' + waluta +'/' + start + '/' + end + '/'

In [75]:
zapytanie = pd.read_json(query)
zapytanie

,table,currency,code,rates
0,A,dolar amerykański,USD,"{'no': '001/A/NBP/2025', 'effectiveDate': '202..."
1,A,dolar amerykański,USD,"{'no': '002/A/NBP/2025', 'effectiveDate': '202..."
2,A,dolar amerykański,USD,"{'no': '003/A/NBP/2025', 'effectiveDate': '202..."
3,A,dolar amerykański,USD,"{'no': '004/A/NBP/2025', 'effectiveDate': '202..."
4,A,dolar amerykański,USD,"{'no': '005/A/NBP/2025', 'effectiveDate': '202..."
5,A,dolar amerykański,USD,"{'no': '006/A/NBP/2025', 'effectiveDate': '202..."
6,A,dolar amerykański,USD,"{'no': '007/A/NBP/2025', 'effectiveDate': '202..."
7,A,dolar amerykański,USD,"{'no': '008/A/NBP/2025', 'effectiveDate': '202..."
8,A,dolar amerykański,USD,"{'no': '009/A/NBP/2025', 'effectiveDate': '202..."
9,A,dolar amerykański,USD,"{'no': '010/A/NBP/2025', 'effectiveDate': '202..."
10,A,dolar amerykański,USD,"{'no': '011/A/NBP/2025', 'effectiveDate': '202..."
11,A,dolar amerykański,USD,"{'no': '012/A/NBP/2025', 'effectiveDate': '202..."
12,A,dolar amerykański,USD,"{'no': '013/A/NBP/2025', 'effectiveDate': '202..."
13,A,dolar amerykański,USD,"{'no': '014/A/NBP/2025', 'effectiveDate': '202..."
14,A,dolar amerykański,USD,"{'no': '015/A/NBP/2025', 'effectiveDate': '202..."
15,A,dolar amerykański,USD,"{'no': '016/A/NBP/2025', 'effectiveDate': '202..."
16,A,dolar amerykański,USD,"{'no': '017/A/NBP/2025', 'effectiveDate': '202..."
17,A,dolar amerykański,USD,"{'no': '018/A/NBP/2025', 'effectiveDate': '202..."
18,A,dolar amerykański,USD,"{'no': '019/A/NBP/2025', 'effectiveDate': '202..."
19,A,dolar amerykański,USD,"{'no': '020/A/NBP/2025', 'effectiveDate': '202..."
20,A,dolar amerykański,USD,"{'no': '021/A/NBP/2025', 'effectiveDate': '202..."
21,A,dolar amerykański,USD,"{'no': '022/A/NBP/2025', 'effectiveDate': '202..."
22,A,dolar amerykański,USD,"{'no': '023/A/NBP/2025', 'effectiveDate': '202..."
23,A,dolar amerykański,USD,"{'no': '024/A/NBP/2025', 'effectiveDate': '202..."
24,A,dolar amerykański,USD,"{'no': '025/A/NBP/2025', 'effectiveDate': '202..."
25,A,dolar amerykański,USD,"{'no': '026/A/NBP/2025', 'effectiveDate': '202..."
26,A,dolar amerykański,USD,"{'no': '027/A/NBP/2025', 'effectiveDate': '202..."
27,A,dolar amerykański,USD,"{'no': '028/A/NBP/2025', 'effectiveDate': '202..."
28,A,dolar amerykański,USD,"{'no': '029/A/NBP/2025', 'effectiveDate': '202..."
29,A,dolar amerykański,USD,"{'no': '030/A/NBP/2025', 'effectiveDate': '202..."
30,A,dolar amerykański,USD,"{'no': '031/A/NBP/2025', 'effectiveDate': '202..."
31,A,dolar amerykański,USD,"{'no': '032/A/NBP/2025', 'effectiveDate': '202..."
32,A,dolar amerykański,USD,"{'no': '033/A/NBP/2025', 'effectiveDate': '202..."
33,A,dolar amerykański,USD,"{'no': '034/A/NBP/2025', 'effectiveDate': '202..."
34,A,dolar amerykański,USD,"{'no': '035/A/NBP/2025', 'effectiveDate': '202..."
35,A,dolar amerykański,USD,"{'no': '036/A/NBP/2025', 'effectiveDate': '202..."
36,A,dolar amerykański,USD,"{'no': '037/A/NBP/2025', 'effectiveDate': '202..."
37,A,dolar amerykański,USD,"{'no': '038/A/NBP/2025', 'effectiveDate': '202..."
38,A,dolar amerykański,USD,"{'no': '039/A/NBP/2025', 'effectiveDate': '202..."
39,A,dolar amerykański,USD,"{'no': '040/A/NBP/2025', 'effectiveDate': '202..."
40,A,dolar amerykański,USD,"{'no': '041/A/NBP/2025', 'effectiveDate': '202..."
41,A,dolar amerykański,USD,"{'no': '042/A/NBP/2025', 'effectiveDate': '202..."
42,A,dolar amerykański,USD,"{'no': '043/A/NBP/2025', 'effectiveDate': '202..."
43,A,dolar amerykański,USD,"{'no': '044/A/NBP/2025', 'effectiveDate': '202..."
44,A,dolar amerykański,USD,"{'no': '045/A/NBP/2025', 'effectiveDate': '202..."
45,A,dolar amerykański,USD,"{'no': '046/A/NBP/2025', 'effectiveDate': '202..."
46,A,dolar amerykański,USD,"{'no': '047/A/NBP/2025', 'effectiveDate': '202..."
47,A,dolar amerykański,USD,"{'no': '048/A/NBP/2025', 'effectiveDate': '202..."
48,A,dolar amerykański,USD,"{'no': '049/A/NBP/2025', 'effectiveDate': '202..."
49,A,dolar amerykański,USD,"{'no': '050/A/NBP/2025', 'effectiveDate': '202..."
50,A,dolar amerykański,USD,"{'no': '051/A/NBP/2025', 'effectiveDate': '202..."
51,A,dolar amerykański,USD,"{'no': '052/A/NBP/2025', 'effectiveDate': '202..."
52,A,dolar amerykański,USD,"{'no': '053/A/NBP/2025', 'effectiveDate': '202..."
53,A,dolar amerykański,USD,"{'no': '054/A/NBP/2025', 'effectiveDate': '202..."
54,A,dolar amerykański,USD,"{'no': '055/A/NBP/2025', 'effectiveDate': '202..."
55,A,dolar amerykański,USD,"{'no': '056/A/NBP/2025', 'effectiveDate': '202..."
56,A,dolar amerykański,USD,"{'no': '057/A/NBP/2025', 'effectiveDate': '202..."
57,A,dolar amerykański,USD,"{'no': '058/A/NBP/2025', 'effectiveDate': '202..."

In [80]:
k = zapytanie['rates'].values

In [86]:
for i, zap1 in enumerate(zapytanie['rates']):
    print(zap1)

{'no': '001/A/NBP/2025', 'effectiveDate': '2025-01-02', 'mid': 4.1219}
{'no': '002/A/NBP/2025', 'effectiveDate': '2025-01-03', 'mid': 4.1512}
{'no': '003/A/NBP/2025', 'effectiveDate': '2025-01-07', 'mid': 4.077}
{'no': '004/A/NBP/2025', 'effectiveDate': '2025-01-08', 'mid': 4.1335}
{'no': '005/A/NBP/2025', 'effectiveDate': '2025-01-09', 'mid': 4.1523}
{'no': '006/A/NBP/2025', 'effectiveDate': '2025-01-10', 'mid': 4.1415}
{'no': '007/A/NBP/2025', 'effectiveDate': '2025-01-13', 'mid': 4.1904}
{'no': '008/A/NBP/2025', 'effectiveDate': '2025-01-14', 'mid': 4.1658}
{'no': '009/A/NBP/2025', 'effectiveDate': '2025-01-15', 'mid': 4.133}
{'no': '010/A/NBP/2025', 'effectiveDate': '2025-01-16', 'mid': 4.1433}
{'no': '011/A/NBP/2025', 'effectiveDate': '2025-01-17', 'mid': 4.1462}
{'no': '012/A/NBP/2025', 'effectiveDate': '2025-01-20', 'mid': 4.1321}
{'no': '013/A/NBP/2025', 'effectiveDate': '2025-01-21', 'mid': 4.1101}
{'no': '014/A/NBP/2025', 'effectiveDate': '2025-01-22', 'mid': 4.0646}
{'no': '015/A/NBP/2025', 'effectiveDate': '2025-01-23', 'mid': 4.0515}
{'no': '016/A/NBP/2025', 'effectiveDate': '2025-01-24', 'mid': 4.0124}
{'no': '017/A/NBP/2025', 'effectiveDate': '2025-01-27', 'mid': 4.021}
{'no': '018/A/NBP/2025', 'effectiveDate': '2025-01-28', 'mid': 4.0337}
{'no': '019/A/NBP/2025', 'effectiveDate': '2025-01-29', 'mid': 4.0443}
{'no': '020/A/NBP/2025', 'effectiveDate': '2025-01-30', 'mid': 4.0393}
{'no': '021/A/NBP/2025', 'effectiveDate': '2025-01-31', 'mid': 4.0576}
{'no': '022/A/NBP/2025', 'effectiveDate': '2025-02-03', 'mid': 4.1352}
{'no': '023/A/NBP/2025', 'effectiveDate': '2025-02-04', 'mid': 4.0864}
{'no': '024/A/NBP/2025', 'effectiveDate': '2025-02-05', 'mid': 4.0426}
{'no': '025/A/NBP/2025', 'effectiveDate': '2025-02-06', 'mid': 4.0613}
{'no': '026/A/NBP/2025', 'effectiveDate': '2025-02-07', 'mid': 4.0321}
{'no': '027/A/NBP/2025', 'effectiveDate': '2025-02-10', 'mid': 4.0548}
{'no': '028/A/NBP/2025', 'effectiveDate': '2025-02-11', 'mid': 4.0497}
{'no': '029/A/NBP/2025', 'effectiveDate': '2025-02-12', 'mid': 4.0215}
{'no': '030/A/NBP/2025', 'effectiveDate': '2025-02-13', 'mid': 3.996}
{'no': '031/A/NBP/2025', 'effectiveDate': '2025-02-14', 'mid': 3.972}
{'no': '032/A/NBP/2025', 'effectiveDate': '2025-02-17', 'mid': 3.9749}
{'no': '033/A/NBP/2025', 'effectiveDate': '2025-02-18', 'mid': 3.9729}
{'no': '034/A/NBP/2025', 'effectiveDate': '2025-02-19', 'mid': 3.9875}
{'no': '035/A/NBP/2025', 'effectiveDate': '2025-02-20', 'mid': 3.9974}
{'no': '036/A/NBP/2025', 'effectiveDate': '2025-02-21', 'mid': 3.9835000000000003}
{'no': '037/A/NBP/2025', 'effectiveDate': '2025-02-24', 'mid': 3.9734}
{'no': '038/A/NBP/2025', 'effectiveDate': '2025-02-25', 'mid': 3.947}
{'no': '039/A/NBP/2025', 'effectiveDate': '2025-02-26', 'mid': 3.9434}
{'no': '040/A/NBP/2025', 'effectiveDate': '2025-02-27', 'mid': 3.9459}
{'no': '041/A/NBP/2025', 'effectiveDate': '2025-02-28', 'mid': 3.9993}
{'no': '042/A/NBP/2025', 'effectiveDate': '2025-03-03', 'mid': 4.0112}
{'no': '043/A/NBP/2025', 'effectiveDate': '2025-03-04', 'mid': 3.9543}
{'no': '044/A/NBP/2025', 'effectiveDate': '2025-03-05', 'mid': 3.8785}
{'no': '045/A/NBP/2025', 'effectiveDate': '2025-03-06', 'mid': 3.8674}
{'no': '046/A/NBP/2025', 'effectiveDate': '2025-03-07', 'mid': 3.8448}
{'no': '047/A/NBP/2025', 'effectiveDate': '2025-03-10', 'mid': 3.8573}
{'no': '048/A/NBP/2025', 'effectiveDate': '2025-03-11', 'mid': 3.8481}
{'no': '049/A/NBP/2025', 'effectiveDate': '2025-03-12', 'mid': 3.8496}
{'no': '050/A/NBP/2025', 'effectiveDate': '2025-03-13', 'mid': 3.8568}
{'no': '051/A/NBP/2025', 'effectiveDate': '2025-03-14', 'mid': 3.8509}
{'no': '052/A/NBP/2025', 'effectiveDate': '2025-03-17', 'mid': 3.8329}
{'no': '053/A/NBP/2025', 'effectiveDate': '2025-03-18', 'mid': 3.8152}
{'no': '054/A/NBP/2025', 'effectiveDate': '2025-03-19', 'mid': 3.8473}
{'no': '055/A/NBP/2025', 'effectiveDate': '2025-03-20', 'mid': 3.8675}
{'no': '056/A/NBP/2025', 'effectiveDate': '2025-03-21', 'mid': 3.8774}
{'no': '057/A/NBP/2025', 'effectiveDate': '2025-03-24', 'mid': 3.859}
{'no': '058/A/NBP/2025', 'effectiveDate': '2025-03-25', 'mid': 3.8578}

In [81]:
l = []
data = []
for i, zap1 in enumerate(zapytanie['rates']):
    l.append(zap1['mid'])
    data.append(zap1['effectiveDate'])

In [82]:
test = pd.DataFrame(l, data).reset_index()
test.columns = ['data', 'cena']
test

          data    cena
0   2025-01-02  4.1219
1   2025-01-03  4.1512
2   2025-01-07  4.0770
3   2025-01-08  4.1335
4   2025-01-09  4.1523
5   2025-01-10  4.1415
6   2025-01-13  4.1904
7   2025-01-14  4.1658
8   2025-01-15  4.1330
9   2025-01-16  4.1433
10  2025-01-17  4.1462
11  2025-01-20  4.1321
12  2025-01-21  4.1101
13  2025-01-22  4.0646
14  2025-01-23  4.0515
15  2025-01-24  4.0124
16  2025-01-27  4.0210
17  2025-01-28  4.0337
18  2025-01-29  4.0443
19  2025-01-30  4.0393
20  2025-01-31  4.0576
21  2025-02-03  4.1352
22  2025-02-04  4.0864
23  2025-02-05  4.0426
24  2025-02-06  4.0613
25  2025-02-07  4.0321
26  2025-02-10  4.0548
27  2025-02-11  4.0497
28  2025-02-12  4.0215
29  2025-02-13  3.9960
30  2025-02-14  3.9720
31  2025-02-17  3.9749
32  2025-02-18  3.9729
33  2025-02-19  3.9875
34  2025-02-20  3.9974
35  2025-02-21  3.9835
36  2025-02-24  3.9734
37  2025-02-25  3.9470
38  2025-02-26  3.9434
39  2025-02-27  3.9459
40  2025-02-28  3.9993
41  2025-03-03  4.0112
42  2025-03-04  3.9543
43  2025-03-05  3.8785
44  2025-03-06  3.8674
45  2025-03-07  3.8448
46  2025-03-10  3.8573
47  2025-03-11  3.8481
48  2025-03-12  3.8496
49  2025-03-13  3.8568
50  2025-03-14  3.8509
51  2025-03-17  3.8329
52  2025-03-18  3.8152
53  2025-03-19  3.8473
54  2025-03-20  3.8675
55  2025-03-21  3.8774
56  2025-03-24  3.8590
57  2025-03-25  3.8578