### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

pd.__version__

### <a name='1'></a> Ćwiczenie 101
Z podanej poniżej listy:


```
stocks = ['PLW', 'CDR', '11B', 'TEN']
```
Utwórz obiekt typu Series.

__Oczekiwany wynik:__


```
0    PLW
1    CDR
2    11B
3    TEN
dtype: object
```

In [ ]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 102
Z podanego poniżej słownika:


```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
```
Utwórz obiekt typu Series i przypisz do zmiennej _quotations_.

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
```

In [ ]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 103
Przekształć obiekt _quotations_ do listy.

__Oczekiwany wynik:__


```
[387.0, 339.5, 349.5, 391.0]
```

In [ ]:
# tutaj wpisz rozwiązanie

Przekształć obiekt _quotations_ do tablicy _numpy_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 104
Przekształć obiekt _quotations_ do obiektu _DataFrame_. Ustaw nazwę kolumny na _price_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 105
Wykorzystując bibliotekę _numpy_ zbuduj poniższy obiekt typu _Series_:


```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 106
Podany jest poniższy obiekt typu _Series_:

```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```
Skonwertuj typ obiektu _series_ na _int_.

In [ ]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

In [ ]:
# tutaj wpisz rozwiązanie

Skonwertuj typ obiektu _series_ na _float_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 107
Do poniższego obiektu _quotations_:

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```
Dodaj dwa elementy:
* indeks: BBT, wartość: 25.5
* indeks: F51, wartość: 19.2

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64
```

In [ ]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 108
Obiekt _quotations_ z poprzedniego ćwiczenia przekształć do obiektu typu _DataFrame_. Zresetuj indeks i nadaj nazwy kolumn '_ticker_' oraz _'price'_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 109
Zbuduj poniższy obiekt _DataFrame_ i przypisz do zmiennej _companies_:

|    | company   |   price | ticker   |
|---:|:----------|--------:|:---------|
|  0 | Amazon    |  2375   | AMZN.US  |
|  1 | Microsoft |   178.6 | MSFT.US  |
|  2 | Facebook  |   179.2 | FB.US    |

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 110
Przekształć pierwszą kolumnę obiektu _companies_ w indeks.

In [ ]:
# tutaj wpisz rozwiązanie

Wytnij wiersz dla spółki _Facebook_ z obiektu _companies_.

In [ ]:
# tutaj wpisz rozwiązanie

Wytnij cenę dla spółki _Microsoft_

In [ ]:
# tutaj wpisz rozwiązanie