### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

np.__version__

Pobierz dane `insurance.csv` ze strony: https://www.kaggle.com/datasets/noordeen/insurance-premium-prediction

### <a name='1'></a> Ćwiczenie 181
Wczytaj plik _insurance.csv_ do obiektu DataFrame o nazwie _df_raw_ i wyświetl kilka początkowych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

Skopiuj obiekt _df_raw_ do zmiennej _df_ i wyświetl podstawowe informacje o obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 182
Sprawdź czy istnieją zduplikowane wiersze w obiekcie _df_. Jeśli tak, wyświetl te wiersze.

In [ ]:
# tutaj wpisz rozwiązanie

Usuń duplikaty w obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 183
Wyświetl z obiektu _df_ zmienne z typem _object_.

__Wskazówka:__ Użyj metody _pd.DataFrame.select_dtypes()_

In [ ]:
# tutaj wpisz rozwiązanie

Przekształć te zmienne do zmiennych kategorycznych.

__Wskazówka:__ Użyj metody _pd.DataFrame.astype()_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl z obiektu _df_ zmienne numeryczne (_float_, _int_).

__Wskazówka:__ Użyj metody _pd.DataFrame.select_dtypes()_

In [ ]:
# tutaj wpisz rozwiązanie

Znajdź nazwy zmiennych numerycznych (_float_, _int_) z obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 184

Wykonaj poniższe kroki:

* przypisz do zmiennej _df_cat_ zmienne kategoryczne z obiektu _df_ i utwórz ich kopię.

* przypisz do zmiennej _df_num_ zmienne numeryczne z obiektu _df_ i utwórz ich kopię.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl 5 pierwszych wierszy obiektu _df_cat_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl 5 pierwszych wierszy obiektu _df_num_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 185
Wyświetl podstawowe statystyki obiektu _df_cat_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_num_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 186a
Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych numerycznych i dokonaj transponowania otrzymanego obiektu _DataFrame_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych numerycznych, dokonaj transponowania otrzymanego obiektu _DataFrame_ i wytnij dwie columny _mean_ i _std_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_ dla zmiennych kategorycznych i dokonaj transponowania otrzymanego obiektu _DataFrame_.

In [ ]:
# tutaj wpisz rozwiązanie

Sprawdź, czy są jakieś braki danych w obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 186b
Wykorzystując bibliotekę _plotly express_ zbuduj histogram zmiennej _expenses_.

Użyj funkcji _px.histogram()_ z następującymi parametrami:
* width=800
* height=400
* nbins=50
* facet_col='smoker'
* facet_row='sex'

In [ ]:
# tutaj wpisz rozwiązanie

Wykorzystując bibliotekę _plotly express_ znajdź rozkład zmiennej _smoker_.

Użyj funkcji _px.histogram()_ z następującymi parametrami:
* width=800
* height=400
* facet_col='sex'
* color='sex'

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 187
Skonwertuj zmienne kategoryczne obietku _df_ do kodowania 0-1 (True-False) i przypisz do zmiennej _df_dummies_.

__Wskazówka:__ Użyj funkcji _pd.get_dummies()_ z parametrem _drop_first=True_ oraz _dtype='int'_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 188
Wyznacz korelacje zmiennych w obiekcie _df_dummies_ i przypisz do zmiennej _corr_.

In [ ]:
# tutaj wpisz rozwiązanie

Wytnij kolumnę z obiektu _corr_ dla zmiennej _expenses_ (jako obiekt DataFrame) i posortuj wartości malejąco.

In [ ]:
# tutaj wpisz rozwiązanie

Wykorzystując bibliotekę _plotly express_ utwórz wykres słupkowy dla tak posortowanych wartości. Pomiń pierwszy element obiektu.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 189
Skopiuj obiekt _df_dummies_ do zmiennej _data_. Następnie wyrwij z tego obiektu kolumnę _charges_ i przypisz do zmiennej _target_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl 5 pierwszych wierszy obiektu _data_. Upewnij się, że nie ma w nim kolumny _charges_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl 5 pierwszych wierszy obiektu _target_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 190
Wykorzystując bibliotekę _scikit-learn_ oraz funkcję _train_test_split_ podziel dane z obiektów _data_ i _target_ na zbiór treningowy (_X\_train_, _y\_train_) oraz zbiór testowy (_X\_test_, _y\_test_). Do zbioru testowego przydziel 20% próbek.

Wyświetl rozmiar obiektów:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [ ]:
# tutaj wpisz rozwiązanie

Zapisz obiekty:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_  

do plików csv odpowiednio o nazwie:
* X_train.csv
* X_test.csv
* y_train.csv
* y_test.csv

In [ ]:
# tutaj wpisz rozwiązanie