### PostgreSQL 16 - pdAdmina

- PostgreSQL -> psycopg2
- Oracle -> cx_Oracle
- MySQL -> pymysql
- Microsoft SQL Server -> pyodbc

In [2]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import psycopg2

In [10]:
# PODŁĄCZNIE Z BAZĄ
conn = psycopg2.connect(host='localhost', database='postgres', user='postgres', password='admin', port=5432)

In [11]:
cur = conn.cursor()

In [12]:
cur.execute("""create table IF NOT EXISTS players (
  player_id serial primary key,
  first_name text not null,
  last_name text not null,
  height numeric not null,
  weight numeric not null,
  salary numeric not null
);
""")

In [13]:
conn.commit()

In [14]:
cur.execute(""" insert into players (first_name,last_name,height,weight, salary) values
('Marian', 'Nowak', 1.90, 80, 10000),
('Jan', 'Kowalski', 1.80, 75, 150000),
('Chuck', 'Norris', 1.70, 58, 300000);
""")
conn.commit()

#### SELECT

In [16]:
cur.execute(""" SELECT * FROM players; """)
print(cur.fetchall())

[(1, 'Marian', 'Nowak', Decimal('1.90'), Decimal('80'), Decimal('10000')), (2, 'Jan', 'Kowalski', Decimal('1.80'), Decimal('75'), Decimal('150000')), (3, 'Chuck', 'Norris', Decimal('1.70'), Decimal('58'), Decimal('300000'))]

In [17]:
cur.execute("""SELECT * FROM players;""")
for row in cur.fetchall():
    print(row)

(1, 'Marian', 'Nowak', Decimal('1.90'), Decimal('80'), Decimal('10000'))
(2, 'Jan', 'Kowalski', Decimal('1.80'), Decimal('75'), Decimal('150000'))
(3, 'Chuck', 'Norris', Decimal('1.70'), Decimal('58'), Decimal('300000'))

#### Wstawianie, zmiana i kasowanie danych, oraz operacje DDL

In [18]:
# USUWANIE TABELI
# cur.execute("""DROP TABLE players""")
# conn.commit()