## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 121](#1)
* [Ćwiczenie 122](#2)
* [Ćwiczenie 123](#3)
* [Ćwiczenie 124](#4)
* [Ćwiczenie 125](#5)
* [Ćwiczenie 126](#6)
* [Ćwiczenie 127](#7)
* [Ćwiczenie 128](#8)
* [Ćwiczenie 129](#9)
* [Ćwiczenie 130](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

sns.set()
np.__version__

'1.24.3'

In [2]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas_datareader) (5.3.0)
Requirement already satisfied: pandas>=0.23 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas_datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.19)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\tomas\appdata\local\programs\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

Funkcja _fetch_financial_data()_ pobiera dane dotyczące notowań spółek giełdowych. Będzie wykorzystywana w poniższych ćwiczeniach. Aby pobrać dane konkretnej spółki należy przekazać odpowiedni ticker (symbol) spółki.

Kilka przykładowych tickerów spółek:
* AMZN - Amazon
* GOOGL - Google
* MSFT - Microsoft
* AAPL - Apple
* NKE - Nike
* WMT - Walmart

In [3]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

### <a name='1'></a> Ćwiczenie 121
Wykorzystując funkcję _fetch_financial_data()_ pobierz notowania dla spółki Google (Alphabet) i przypisz do zmiennej _google_. Wyświetl obiekt _google_.

In [4]:
google = fetch_financial_data('GOOGL')
google

                Open      High       Low     Close    Volume
Date
2025-03-24  167.0650  168.3200  165.1400  167.6800  30879129
2025-03-21  161.2050  164.2400  160.8901  163.9900  36625764
2025-03-20  161.5700  164.8900  160.9600  162.8000  28138464
2025-03-19  161.7600  165.8700  161.0000  163.8900  34275582
2025-03-18  163.6750  164.2500  156.7200  160.6700  42074751
...              ...       ...       ...       ...       ...
2020-04-01   55.9970   56.2671   54.4770   54.9060  52158777
2020-03-31   57.2291   58.4580   56.6307   57.8877  65516064
2020-03-30   56.4274   57.3421   54.7261   57.1084  58949465
2020-03-27   56.1699   57.3446   55.0007   55.3125  63020851
2020-03-26   55.5347   58.3625   54.4042   57.9359  76966443

[1255 rows x 5 columns]

### <a name='2'></a> Ćwiczenie 122
Wyświetl podstawowe informacje na temat obiektu _google_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki o obiekcie _google_.

In [ ]:
# tutaj wpisz rozwiązanie

Zwróć uwagę na precyzję zapisu poszczególnych statystyk.
Spróbuj ustawić odpowiednie opcje biblioteki _pandas_, tak aby wyświetlać dane z dokładnością do dwóch miejsc po przecinku.

__Wskazówka:__
https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [ ]:
# tutaj wpisz rozwiązanie

__Dodatkowo:__
Poniższe ustawienie stłumi także notację wykładniczą (patrz kolumna _Volume_).

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
google.describe()

Zbuduj wykres ceny zamknięcia (_Close_) dla obiektu _google_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 123
Zamień indeks _Date_ na kolumnę. Przypisz trwale zmiany do zniennej _google_.

In [ ]:
# tutaj wpisz rozwiązanie

Przypisz dwie nowe kolumny do obiektu _google_ dodając kolumnę z aktualnym numerem miesiąca o nazwie _'Month'_ oraz z rokiem o nazwie _'Year'_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 124
Policz średnią cenę zamknięcia (_Close_) dla poszczególnego roku (pogrupuj dane po roku - kolumna _Year_ i następnie policz wartość średnią).

In [ ]:
# tutaj wpisz rozwiązanie

Otrzymane wartości przedstaw na wykresie wykorzystując metodę _plot()_.

In [ ]:
# tutaj wpisz rozwiązanie

Policz średnią cenę zamknięcia (_Close_) dla miesiąca (pogrupuj dane po miesiącu - kolumna _Month_ i następnie policz wartość średnią).

In [ ]:
# tutaj wpisz rozwiązanie

Otrzymane wartości przedstaw na wykresie wykorzystując metodę _plot()_.
Zauważ, które miesiące mogą wskazywać na słabsze okresy na giełdzie.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 125
Pogrupuj dane z obiektu _google_ na poziomie roku i miesiąca. Następnie policz wartość średnią.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 126
Znajdź indeks dla którego kolumna _Close_ przyjmuje wartość największą.

In [ ]:
# tutaj wpisz rozwiązanie

Wytnij wiersz dla tego indeksu z obiektu _google_ jako obiekt DataFrame. Odczytaj datę.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 127
Z obiektu _google_ wytnij kolumny _Date_, _Open_, _Close_, _Volume_.
Nie zmieniaj pierwotnego obiektu _google_!

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 128
Ustaw z powrotem indeks dla kolumny _Date_. Wyświetl obiekt _google_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 129
Usuń na stałe kolumny _Year_ i _Month_ z obiektu _google_. Wyświetl obiekt _google_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 130
Przypisz polskie nazwy kolumn (bez polskich znaków):
* Open -> Otwarcie
* High -> Najwyzszy
* Low -> Najnizszy
* Close -> Zamkniecie
* Volume -> Wolumen

do obiektu _google_. Wyświetl obiekt _google_.

In [ ]:
# tutaj wpisz rozwiązanie