### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

'1.24.3'

### <a name='1'></a> Ćwiczenie 161
Wczytaj do obiektu _DataFrame_ o nazwie _df_ plik csv znajdujący się pod linkiem:
* https://www.kaggle.com/datasets/sujay1844/used-car-prices

Ustaw indeks obiektu _df_ na pierwszą kolumnę. Wyświetl obiekt _df_.

In [3]:
df = pd.read_csv('data.csv', index_col=0)
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.00,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.00,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.00,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.00,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.00,NaN,2.50

Wyświetl informacje na temat obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 162
Znajdź listę zawierającą nazwy wszystkich kolumn obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Z obiektu _df_ usuń kolumnę o nazwie _New_Price_ i wyświetl 5 pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 163
Znajdź liczbę brakujących wartości dla każdej zmiennej obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych. Użyj parametru _inplace=True_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl raz jeszcze informacje na temat obiektu _df_. Zwróć uwagę na liczbę wierszy i typ danych.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 164
Zamień wszystkie litery w nazwach kolumn na małe, np.:
* Name -> name
* Fuel_Type -> fuel_type  

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 165
Znajdź rozkład wartości zmiennej _owner_type_.

In [ ]:
# tutaj wpisz rozwiązanie

Znajdź rozkład wartości zmiennej _engine_.

In [ ]:
# tutaj wpisz rozwiązanie

Zauważ, że zmienna _engine_ jest typu _object_. Usuń 3 ostatnie znaki z każdego elementu i resztę skonwertuj na typ int. Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 166 - BRAK

### <a name='7'></a> Ćwiczenie 167
Zauważ, że zmienna _power_ jest typu _object_. Usuń 4 ostatnie znaki z każdego elementu i resztę skonwertuj na typ float.

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 168
Pogrupuj dane na poziomie roku (_year_) i policz liczbę rekordów dla każdego roku w obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 169
Sprawdź rozkład zmiennej _transmission_.

In [ ]:
# tutaj wpisz rozwiązanie

Dokonaj następującego mapowania zmiennej _transmission_:
* Manual -> 0
* Automatic -> 1

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 170
Zapisz obiekt _df_ do pliku _car.csv_ (nie zapisuj indeksu).

In [ ]:
# tutaj wpisz rozwiązanie